<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.fredrickabayie.pg1"
versionCode = "11"
version = "1.0.0">
    <name>JQ-PG Demo1</name>
    <description>
        Demo for fall 2015
    </description>
    <author href="http://www.ashesi.edu.gh" email="fredrick.abayie@ashesi.edu.gh">
        Fredrick Abayie
    </author>
    <icon src="logo.png" />
    <gap:splash src="pic.png" />
</widget>